# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Virtual environments
.venv/
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Generated images
images/output*
images/tmp*

# AI Models
models/*.onnx
